SUBSYSTEM=="usb", ATTR{idProduct}=="1227", ATTR{idVendor}=="05ac", MODE="0660", GROUP="grg"
SUBSYSTEM=="usb", ATTRS{idProduct}=="1227", ATTRS{idVendor}=="05ac", MODE="0660", GROUP="grg"
SUBSYSTEM=="usb-serial", MODE="0660", GROUP="grg"
